.job-right {
    display: flex;
    justify-content: end;
    align-items: center;
}

.job_texts {
    padding: 56px 0;
    margin-right: 50px;
}

.job-img {
    width: 300px;
}

.job_heeding {
    font-size: 24px;
    font-weight: 700;
    display: flex;
    justify-content: start;
}